# SETUP

In [1]:
# ENV
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/Users/pepetavo/.kaggle"

# tensorflow
import tensorflow as tf
print(tf.config.list_physical_devices())

# base libraries
# import numpy as np
import pandas as pd
import datetime as datetime

# Plot
import seaborn as sns
import matplotlib.pyplot as plt

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'), PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [2]:
# scilearn

# Load data

In [3]:
# Dowload Dataset from Kaggle
file_path = "fitness_dataset.csv"
!kaggle datasets download -p ../data muhammedderric/fitness-classification-dataset-synthetic -f "$file_path"

zsh:1: command not found: kaggle

In [4]:
# Load dataset
data = pd.read_csv(f"../data/{file_path}")
data.head()

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender,is_fit
0,56,152,65,69.6,117.0,NaN,2.37,3.97,no,F,1
1,69,186,95,60.8,114.8,7.5,8.77,3.19,0,F,1
2,46,192,103,61.4,116.4,NaN,8.20,2.03,0,F,0
3,32,189,83,60.2,130.1,7.0,6.18,3.68,0,M,1
4,60,175,99,58.1,115.8,8.0,9.95,4.83,yes,F,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                2000 non-null   int64
 1   height_cm          2000 non-null   int64
 2   weight_kg          2000 non-null   int64
 3   heart_rate         2000 non-null   float64
 4   blood_pressure     2000 non-null   float64
 5   sleep_hours        1840 non-null   float64
 6   nutrition_quality  2000 non-null   float64
 7   activity_index     2000 non-null   float64
 8   smokes             2000 non-null   object
 9   gender             2000 non-null   object
 10  is_fit             2000 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 172.0+ KB

In [23]:
for col in data.columns:
    if data[col].dtype == 'object':
        print(f"{col}: {data[col].unique()}")

smokes: ['no' '0' 'yes' '1']
gender: ['F' 'M']